:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --clr-light: #FFF8DC;
    --clr-dark: #212121;
    --clr-primary: #61dafbaa;
    --clr-secondary: #09d866;
    --clr-accent1: #cfc290;
    --clr-accent2: #494949;

    --clr-glow:var(--clr-primary);

    --clr-accent: var(--clr-accent2);

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
    --clr-accent: var(--clr-accent1);
    --clr-glow: var(--clr-secondary);
  }
}

body {
    background-color: var(--foreground);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica", sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 44rem;
    padding: 0;
    place-items: center;
    /* min-width: 320px; */
    min-height: 100vh;
}

/* ///////////////////////////////////////////////// */
/* introduction header */

.name {
    display: flex;
}

#hello {
    display: inline;
    min-height: 1.5em;
}

/* Blinking cursor animation */
@keyframes blink {
    0% { border-color: var(--background); }
    50% { border-color: transparent; }
    100% { border-color: var(--background); }
}

.no-blink {
    border-right: .2rem solid var(--background);
}

.blink {
    border-right: .2rem solid var(--background);
    animation: blink 0.7s step-end infinite;
}

/* ///////////////////////////////////////////////// */
/* Introduction container */
/* top */

.introduction {
    color: var(--background);
    display: flex;
    justify-content: center;
}

.header {
    box-sizing: border-box;
    padding: 1.2rem;
    width: 100%;
}

.name {
    margin-top: 0px;
    margin-bottom: -30px;
    width: 100%;
}

.description {
    font-size: 1.2rem;
    text-transform: lowercase;
    width: 100%;

}

.icons {
    align-items: center;
    background-color: var(--clr-accent);
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.3s ease;
    height: 0 auto;
    width: 0 auto;
}

.icons a img {
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;
    transition: all 0.3s ease;
}

.icons a:hover img {
  filter: drop-shadow(0 0 1.5em var(--clr-glow));
  transform: scale(1.1);
}

.uh-highlight {
    color: rgb(249, 108, 108);
}

.lang-highlight {
    color: rgb(158, 158, 255);
}

/* ///////////////////////////////////////////////// */
/* Clash */

#base {
    color: var(--background);
}

.hobbies-display {
    margin-top: -1.3rem;
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
    margin-bottom: auto;
    width: 100%;
}

.hobbies-header {
    box-sizing: border-box;
    /* max-width: 700px; */
    padding: 1.2rem;
    width: 100%;
}

.bg-frame {
    width: 0 auto;
    height: 0 auto;
    background-color: red;
}

.swiper  {
    border-radius: 16px;
    max-width: 0 auto;
    overflow: hidden;
    width: 100%;
    max-height: 0 auto;
}

.swiper-slide {
    background: transparent;
    border-radius: .5rem;
    overflow: hidden; 
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.2rem !important;
    color : rgba(119, 195, 253);
}

.swiper-slide iframe {
    width: 100%;
    height: 100%;
}

.swiper-scrollbar-drag {
    background: white !important;
}

.swiper-pagination-bullet {
    background-color: rgba(119, 195, 253) !important;
}

/* ///////////////////////////////////////////////// */
/* Showcase container */
/* middle */

.projects-display{
    margin-top: -1rem;
    max-width: 700px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: auto;
    width: 100%;
}

.project-header {
    box-sizing: border-box;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

#showcase {
    color: var(--background);
    margin-bottom: .2rem;
}

.inner-block {
    background-color: rgba(119, 195, 253, 0.50);;
    backdrop-filter: blur(10px);
    border-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    margin-top: 20px;
    max-width: 700px;
    padding: 15px;
    text-align: left;
    transition: background-color 0.3s;
    width: 100%;
}

.inner-block:hover {
    background-color: rgb(123, 186, 235);
}

.button-text {
    color: var(--background);
    font-size: 1.1rem;
}
/* ///////////////////////////////////////////////// */
/* Footer */
/* bottom */

.footer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
}

.source {
    align-self: center;
    box-sizing: border-box;
    padding: 1rem;
}

.source a {
    color: var(--background);
    text-decoration: none;
}

.source a:hover {
    color: rgb(123, 186, 235);
    text-decoration: underline;
}


/* ///////////////////////////////////////////////// */
.label {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.project-2-labels {
    display: flex;
    gap: 5px;
}

.project-3-labels {
    display: flex;
    gap: 5px;
}

.project-4-labels {
    display: flex;
    gap: 5px;
}

#css {
    background-color: #264de4;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#empty {
    background-color: black;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#pokemon {
    background-color: rgba(244, 35, 35, 0.75);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#family {
    background-color: rgba(0, 221, 255, 0.765);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#games {
    background-color: rgba(255, 242, 0, 0.765);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#html {
    background-color: #e34c26;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#js {
    background-color: #f0db4f;
    border-radius: 5px;
    color: #323330;
    gap: 5px;
    justify-content: center;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

#python {
    background-color: #035faa;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#sql {
    background-color: #F29111;
    border-radius: 5px;
    color: #004150;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#react {
    background-color: #61DBFB;
    border-radius: 5px;
    color: #24272e;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#tailwindcss {
    background-color: #06b6d4;
    border-radius: 5px;
    color: #6d28d9;
    gap: 5px;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

#placeholder {
    background-color: black;
    border-radius: 5px;
    color: white;
    gap: 5px;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

/* ///////////////////////////////////////////////// */
/* Responsive adjustments */
@media (max-width: 600px) {
    .description {
        font-size: 16px;
    }

    .icons img {
        height: 40px;
    }
}