body {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica", sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;

}

/* ///////////////////////////////////////////////// */
.container1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    max-width: 700px;
    padding: 20px;
    /* text-align: center; */
    width: 100%;
    box-sizing: border-box;
}

.name {
    width: 100%;
}

.description {
    font-size: 20px;
    width: 100%;
}

.icons {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}

/* ///////////////////////////////////////////////// */

/* Responsive adjustments */
@media (max-width: 600px) {
    .description {
        font-size: 16px;
    }
    
    .icons img {
        height: 40px;
    }

    /* .name {
        height: 50px;
    } */
}