body {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(photos/houston.jpg);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica", sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

/* ///////////////////////////////////////////////// */
/* introduction header */

.name {
    display: flex;
}

#hello {
    display: inline;
    padding-right: 5px;
}

/* Blinking cursor animation */
@keyframes blink {
    0% { border-color: white; }
    50% { border-color: transparent; }
    100% { border-color: white; }
}

.no-blink {
    border-right: 2px solid white;
}

.blink {
    border-right: 2px solid white;
    animation: blink 0.7s step-end infinite;
}

/* ///////////////////////////////////////////////// */
/* Introduction container */
/* top */

.introduction {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header {
    box-sizing: border-box;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

.name {
    margin-top: 0px;
    margin-bottom: -30px;
    width: 100%;
}

.description {
    font-size: 20px;
    text-transform: lowercase;
    width: 100%;

}

.icons {
    gap: 5px;
    margin-top: -5px;
    width: 100%;
}

.uh-highlight {
    color: rgb(249, 108, 108);
}

.lang-highlight {
    color: rgb(158, 158, 255);
}

/* ///////////////////////////////////////////////// */
/* Clash */
.clash-display {
    margin-top: -15px;
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
    margin-bottom: auto;
    width: 100%;
}

.clash-header {
    box-sizing: border-box;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

/* ///////////////////////////////////////////////// */
/* Showcase container */
/* middle */

.projects-display{
    margin-top: -25px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: auto;
}

.project-header {
    box-sizing: border-box;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

#showcase {
    margin-bottom: 0px;
}

.inner-block {
    background-color: rgba(119, 195, 253, 0.50);;
    backdrop-filter: blur(10px);
    border-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    margin-top: 20px;
    max-width: 700px;
    padding: 15px;
    text-align: left;
    transition: background-color 0.3s;
    width: 100%;
}

.inner-block:hover {
    background-color: rgb(23, 127, 206);
}

.button-text {
    color: white;
}
/* ///////////////////////////////////////////////// */
/* Footer */
/* bottom */

.footer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.source {
    align-self: center;
    box-sizing: border-box;
    margin-top: 120px;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

a {
    color: white;
    /* text-decoration: none; */
}

/* ///////////////////////////////////////////////// */
.label {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.project-2-labels {
    display: flex;
    gap: 5px;
}

.project-4-labels {
    display: flex;
    gap: 5px;
}

#css {
    background-color: #264de4;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#empty {
    background-color: black;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#html {
    background-color: #e34c26;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#js {
    background-color: #f0db4f;
    border-radius: 5px;
    color: #323330;
    gap: 5px;
    justify-content: center;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

#python {
    background-color: #035faa;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#react {
    background-color: #61DBFB;
    border-radius: 5px;
    color: #24272e;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#tailwindcss {
    background-color: #06b6d4;
    border-radius: 5px;
    color: #6d28d9;
    gap: 5px;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

/* ///////////////////////////////////////////////// */
/* Responsive adjustments */
@media (max-width: 600px) {
    .description {
        font-size: 16px;
    }

    .icons img {
        height: 40px;
    }
}